{% extends 'architect/architect-template.html.twig' %}

{% block architect_body %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Ville</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </thead>
        <tbody>
        {% for architect in architects %}
            <tr>
                <th>{{ loop.index }}</th>
                <th><a href="{{ path('architect_one', {id: architect.id}) }}">{{ architect.name }}</a></th>
                <th>{{ architect.address }}</th>
                <th>{{ architect.postalCode }}</th>
                <th>{{ architect.city }}</th>
                <th>{{ architect.phone }}</th>
                <th>{{ architect.email }}</th>
                <th class="text-center"><a href="{{ path('architect_update', {id: architect.id}) }}"><i class="fas fa-pen"></i></a></th>
                <th class="text-center"><a href="{{ path('architect_delete', {id: architect.id}) }}" class="item-delete" id="{{ architect.id }}" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(function() {


            const deleteBtnList = $('.item-delete')
            $('[data-toggle="tooltip"]').tooltip()

            $.ajax({
                type: 'get',
                url: 'http://127.0.0.1:8000/admin/architect/get-projects/ajax'
            }).done(function(datas) {
                for(const deleteBtn of deleteBtnList){
                    const inactiveLine = $.grep(datas, function(obj){return obj.id == deleteBtn.id;});
                    if(inactiveLine.length > 0){
                        deleteBtn.href = 'javascript:void(0)'
                        deleteBtn.classList = 'company-delete text-secondary'
                        deleteBtn.style.cursor = 'not-allowed'
                        let tooltipStr = 'Suppression impossible car société utilisé dans les projest suivants:\n '
                        for(const company of inactiveLine){
                            tooltipStr += company.name + ',\n '
                        }
                        deleteBtn.title = tooltipStr
                    }
                }
            })
        })
    </script>
{% endblock %}