{% extends 'architect/architect-template.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css"/>
{% endblock %}

{% block architect_body %}
    <table id="table_id" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th class="desktop">#</th>
            <th class="desktop">Nom</th>
            <th class="desktop">Adresse</th>
            <th class="desktop">Code Postal</th>
            <th class="desktop">Ville</th>
            <th class="desktop">Phone</th>
            <th class="desktop">Email</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="desktop">Modifier</th>
                <th class="desktop">Supprimer</th>
            {% endif %}
        </thead>
        <tbody>
        {% for architect in architects %}
            <tr>
                <th>{{ loop.index }}</th>
                <th><a href="{{ path('architect_one', {id: architect.id}) }}">{{ architect.name }}</a></th>
                <th>{{ architect.address }}</th>
                <th>{{ architect.postalCode }}</th>
                <th>{{ architect.city }}</th>
                <th>{{ architect.phone }}</th>
                <th>{{ architect.email }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th class="text-center"><a href="{{ path('architect_update', {id: architect.id}) }}"><i class="fas fa-pen"></i></a></th>
                <th class="text-center">
                    <span data-toggle="modal" data-target="#architect-{{ architect.id }}">
                        <a href="#" class="item-delete" id="{{ architect.id }}" data-toggle="tooltip">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </span>
                </th>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="architect-{{ architect.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppression de l'architecte {{ architect.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Valider la suppression de l'architecte {{ architect.name }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <a class="btn btn-danger" href="{{ path('architect_delete', {id: architect.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/architect-tooltip.js') }}"></script>
{% endblock %}