{% extends 'project/project-template.html.twig' %}

{% form_theme form _self %}

{% block project_body %}
    <div class="container">
        <h3>Ajout des données du projet</h3>
        <hr class="mb-5">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6">{{ form_row(form.steps.study) }}</div>
            <div class="col-lg-6">{{ form_row(form.steps.mastery) }}</div>
        </div>
        <div class="row">
            <div class="col-lg-6">{{ form_row(form.steps.permitStart) }}</div>
            <div class="col-lg-6">{{ form_row(form.steps.permitEnd) }}</div>
        </div>
        <div class="row">
            <div class="col-lg-6">{{ form_row(form.steps.worksStart) }}</div>
            <div class="col-lg-6">{{ form_row(form.steps.worksEnd) }}</div>
        </div>
        <div class="row">
            <div class="col-12">{{ form_row(form.steps.delivery) }}</div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _project_stat_state_widget %}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-state" class="btn btn-success">Ajouter un état</button>
    </div>
{% endblock %}

{% block _project_stat_state_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _project_stat_state_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-2">{{ form_widget(form.quantity) }}</div>
                    <div class="col-5">{{ form_widget(form.date) }}</div>
                    <div class="col-5">{{ form_widget(form.type) }}</div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('js/project-state-add.js') }}"></script>
{% endblock %}