{% extends 'company/company-template.html.twig' %}

{% form_theme form _self %} {# Dans ce fichier, pour la variable form on utilise le theme personnalisé plus bas #}
{#TODO order shareholder list alphabetics#}
{% block company_body %}
    <div class="container">
        <h3>Ajouter une société</h3>
        <hr class="mb-5">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">{{ form_row(form.name) }}</div>
            <div class="col-3">{{ form_row(form.country) }}</div>
            <div class="col-3">
                {{ form_row(form.companyCategory) }}
                {{ form_errors(form.companyCategory) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block _company_shareholders_widget %} {# Theme personnalisé pour la balise avec l'id company_shareholders #}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="button" id="add-shareholder" class="btn btn-success">Ajouter un actionnaire</button>
    </div>
{% endblock %}

{% block _company_shareholders_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _company_shareholders_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col">{{ form_widget(form.shareholder) }}{{ form_errors(form.shareholder) }}</div>
                    <div class="col">{{ form_widget(form.part, {'attr': {'class': 'company-part'}}) }}{{ form_errors(form.part) }}</div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('js/company-add.js') }}"></script>
{% endblock %}