{% extends 'company/company-template.html.twig' %}

{% block company_body %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Pays</th>
            <th scope="col">Addresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Numero TVA</th>
            <th scope="col">Banque</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <th>{{ loop.index }}</th>
                <th><a href="{{ path('company_one', {id: company.id}) }}">{{ company.name }}</a></th>
                <th>{{ company.companyCategory.abbreviation }}</th>
                <th>{{ company.country.code }}</th>
                <th>{{ company.address }}</th>
                <th>{{ company.city }}</th>
                <th>{{ company.tvaNum }}</th>
                <th>{{ company.bank }}</th>
                <th class="text-center"><a href="{{ path('company_update', {id: company.id}) }}"><i class="fas fa-pen"></i></a></th>
                <th class="text-center"><a href="{{ path('company_delete', {id: company.id}) }}" class="item-delete" id="{{ company.id }}" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(function() {


            const deleteBtnList = $('.item-delete')
            $('[data-toggle="tooltip"]').tooltip()

            $.ajax({
                type: 'get',
                url: 'http://127.0.0.1:8000/admin/company/get-projects/ajax'
            }).done(function(datas) {
                for(const deleteBtn of deleteBtnList){
                    const inactiveLine = $.grep(datas, function(obj){return obj.id == deleteBtn.id;});
                    if(inactiveLine.length > 0){
                        deleteBtn.href = 'javascript:void(0)'
                        deleteBtn.classList = 'company-delete text-secondary'
                        deleteBtn.style.cursor = 'not-allowed'
                        let tooltipStr = 'Suppression impossible car société utilisé dans les projest suivants:\n '
                        for(const company of inactiveLine){
                            tooltipStr += company.name + ',\n '
                        }
                        deleteBtn.title = tooltipStr
                    }
                }
            })
        })
    </script>
{% endblock %}