{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Dashboard{% endblock %}

{% block body %}

    <div id="wrapper">
        <ul class="sidebar navbar-nav bg-success">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users-cog"></i>
                        <span>Utilisateurs</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                        <h6 class="dropdown-header">Utilisateurs :</h6>
                        <a class="dropdown-item" href="{{ path('user_list') }}">Liste</a>
                        <a class="dropdown-item" href="{{ path('invitation_make') }}">Inviter</a>
                        <a class="dropdown-item" href="{{ path('invitation_list') }}">Invitation</a>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-building"></i>
                    <span>Projets</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Projets :</h6>
                    <a class="dropdown-item" href="{{ path('project_list') }}">Liste</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('project_add') }}">Ajouter</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('project_pdf') }}">PDF</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-industry"></i>
                    <span>Sociétés</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Sociétés :</h6>
                    <a class="dropdown-item" href="{{ path('company_list') }}">Liste</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('company_add') }}">Ajouter</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-drafting-compass"></i>
                    <span>Architectes</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Architectes :</h6>
                    <a class="dropdown-item" href="{{ path('architect_list') }}">Liste</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('architect_add') }}">Ajouter</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-hammer"></i>
                    <span>Entreprises gén.</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Entreprises gén. :</h6>
                    <a class="dropdown-item" href="{{ path('genCompany_list') }}">Liste</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('genCompany_add') }}">Ajouter</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Déconnexion</span>
                </a>
            </li>
        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                {% block dash_body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
