{% extends 'user/user-template.html.twig' %}

{% block user_body %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">Profile</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Naissance</th>
            <th scope="col">Création</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th class="text-center"><img src="{{ user.img ? asset('img/user-profil/') ~ user.img : asset('img/user-profil/default.png') }}" alt="user profil" width="20"></th>
                <th>{{ user.email }}</th>
                <th>
                    {% if user.roles[0] == 'ROLE_ADMIN' %}
                        Administrateur
                    {% elseif user.roles[0] == 'ROLE_USER' %}
                        Utilisateur
                    {% endif %}
                </th>
                <th>{{ user.firstName }}</th>
                <th>{{ user.lastName }}</th>
                <th>{{ user.birthdate | date('d/m/Y') }}</th>
                <th>{{ user.created | date('d/m/Y') }}</th>
                <th class="text-center"><a href="{{ path('user_update', {id: user.id}) }}"><i class="fas fa-pen"></i></a></th>
                <th class="text-center"><a href="{{ path('user_delete', {id: user.id}) }}"><i class="fas fa-trash-alt"></i></a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}